from . import base

# Recipients of traceback emails and other notifications.
ADMINS = (
    ('ButFriendly', 'writeus@butfriendly.com'),
)
MANAGERS = ADMINS

# Debugging displays nice error messages, but leaks memory. Set this to False
# on all server instances and True only for development.
DEBUG = TEMPLATE_DEBUG = True

# Is this a development instance? Set this to True on development/master
# instances and False on stage/prod.
DEV = True

# Make this unique, and don't share it with anybody.  It cannot be blank.
SECRET_KEY = ''

PIPELINE_AUTO = True

INSTALLED_APPS = list(base.INSTALLED_APPS) + [
    'django.contrib.admin',
    'django.contrib.admindocs',

    # Example code. Can (and should) be removed for actual projects.
    'project.example',

    # For development
    'debug_toolbar',
    'devserver',
]

SENTRY_DSN = 'http://f048433575ef40ebaaf70e9a5d4cf209:491a6518484046d990123ed3812bdcb1@127.0.0.1:9000/1'

SECRET_KEY = '123'

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': 'django_app.sq3',
        'USER': '',
        'PASSWORD': '',
        'HOST': '',
        'PORT': '',
#        'OPTIONS': {
#            'init_command': 'SET storage_engine=InnoDB',
#            'charset' : 'utf8',
#            'use_unicode' : True,
#            },
#        'TEST_CHARSET': 'utf8',
#        'TEST_COLLATION': 'utf8_general_ci',
        },
    # 'slave': {
    #     ...
    # },
}

# Uncomment these to activate and customize Celery:
# CELERY_ALWAYS_EAGER = False  # required to activate celeryd
# BROKER_HOST = 'localhost'
# BROKER_PORT = 5672
# BROKER_USER = 'playdoh'
# BROKER_PASSWORD = 'playdoh'
# BROKER_VHOST = 'playdoh'
# CELERY_RESULT_BACKEND = 'amqp'
