{% load compressed %}<!DOCTYPE html>
<html lang="en-us">
	<head{% block head_attrs %}{% endblock %}>
		<meta charset="utf-8">
		<title>{% block head_title %}Untitled{% endblock %} — A ButFriendly production</title>
		<meta name="viewport" content="width=960" />

		<!--[if IE]><meta http-equiv="imagetoolbar" content="false" /><![endif]-->
		<!--[if lte IE 7]><link href="{{ MEDIA_URL }}core/css/ie.css" media="screen" rel="stylesheet" type="text/css"><![endif]-->

		{# Favicons #}
		<link href="{{ MEDIA_URL }}core/img/favicon.png" rel="icon" type="image/png" />
		<link href="{{ MEDIA_URL }}core/img/mobile_icon.png" rel="apple-touch-icon" type="image/png" />

		{% block head_supplement %}{% endblock %}

		{% compressed_css 'common' %}
		{% compressed_js 'common' %}
	</head>
	<body class="{{ section }}" id="{% block bodyid %}{{ section }}{% endblock %}">
	<div id="container">
		<div id="content">
			{% block content %}{% endblock %}
		</div>
	</div>
	{% block body_supplement %}{% endblock %}
	{% comment %}
		<script src="http://www.google-analytics.com/ga.js" type="text/javascript"></script>
		<script type="text/javascript">var t = _gat._getTracker("UA-264001-4");t._setDomainName("{{ site_domain }}");t._trackPageview();</script>
	{% endcomment %}
	<script src="{% url wafflejs %}"></script>
	</body>
</html>
