{% load compressed %}<!DOCTYPE html>
<html LANG="{{ LANG }}" dir="{{ DIR }}">
<head>
    <meta charset="utf-8">
    <title>{% block page_title %}LoudButFriendly{% endblock %} — A LoudButFriendly production</title>
    <meta name="viewport" content="width=960" />

    <!--[if IE]><meta http-equiv="imagetoolbar" content="false" /><![endif]-->
    <!--[if lte IE 7]><link href="{{ MEDIA_URL }}core/css/ie.css" media="screen" rel="stylesheet" type="text/css"><![endif]-->

    {# Favicons #}
    <link href="{{ MEDIA_URL }}core/img/favicon.png" rel="icon" type="image/png" />
    <link href="{{ MEDIA_URL }}core/img/mobile_icon.png" rel="apple-touch-icon" type="image/png" />

    {% block site_css %}
        {% compressed_css 'common' %}
    {% endblock %}

    {% block head_supplement %}{% endblock %}
</head>
<body class="{{ section }}" id="{% block bodyid %}{{ section }}{% endblock %}">
    <div id="container">
        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </div>
    <script src="{% url wafflejs %}"></script>
    {% block site_js %}
        {% compressed_js 'common' %}
    {% endblock %}
    {% block body_supplement %}{% endblock %}
    </body>
</html>
